<div class="main-container" *ngIf="movies$ | async as movies">
    <!-- nav bar-->
    <app-menu/>

    <div class="content">
        <!-- search bar-->
        <app-search/>

        <!-- Trends-->
        @if (category === null){
        <!--   show trends on home page only   -->
            <app-trends [trends]="trends"/>
            <p class="name">{{getName()}}</p>
            <div class="recommend">
                @for (movie of movies; track $index) {
                    <app-card [movie]="movie"/>
                }
            </div>
        }
        @else {
        <!-- Recommendations-->
            <p class="name">{{getName()}}</p>

            @if (category === 'movie' || category === 'tv series') {
                <div class="recommend">
                    @for (movie of movies; track $index) {
                        <app-card [movie]="movie"/>
                    }
                </div>
            }
            @else {
                <app-bookmark/>
            }

        }
        </div>

</div>
