.heading-l {
    font-size: 2rem;
    letter-spacing: -0.5px;
}

.heading-m {
    font-size: 1.5rem;
}

.heading-s {
    font-size: 1.5rem;
    font-weight: 500;
}

.heading-xs {
    font-size: 1.125rem;
    font-weight: 500;
}

.body-m {
    font-size: 0.9375rem;
}

.body-s {
    font-size: 0.8125rem;
}
